
.jbd-container{
    #user-options{
        .ibox h4{
            margin: 5px 0;
        }
        .ibox:hover{
            cursor: pointer;

            .ibox-title{
                background-color: #FAFAFA;
            }
        }

        .text-success {
            color: #62cb31;
        }

        .ibox-title h5{
            display: inline;
            float:none;
        }
    }


	li.option-button{
	    h3 {
	        font-size: 15px;
	        margin: 0!important;
	        padding: 30px 0 5px;
	        line-height: 18px;
	    }
	
	    p {
	        font-size: 13px;
	        margin: 0;
	        padding: 0 5px;
	        line-height: 20px;
	    }
	
	    span {
	        margin: 0;
	    }
	
	    .box-inset{
	        img{
	            height: 65px!important;
	        }
	        .search h3{
	            padding: 5px 0;
	        }
	    }
	    .btn {
	        padding: 7px 12px;
	        margin-top: 5px;
	    }
	}

	#orders-holder {
		.order-container {
			border: none;
			background-color: #f8f8f8;
			border-radius: 5px;
			color: #535455;
			box-shadow: 1px 1px 1px 1px #c5c5c5;
		}
	}
	.alert-warning {
		color: #fff!important; 
	}
}
/*-----------Responsive Media----------------*/

@media (max-width: 576px) {

    /* ------control panel --------- */
    #jdb-wrapper {
        #page-wrapper {
            margin: 0 !important;
        }

        #content-wrapper {
            margin: 20px 0 !important;
        }
    }
}

/*-----------Responsive Media----------------*/
