$white:#FFF;
$grey:#e4e5e7;

@mixin bordered($color,$width){
    border:$width solid $color;
}

@mixin borderBottom($color,$width){
    border-bottom: $width solid $color !important;
}

@mixin marginPaddingZero{
    margin: 0;
    padding: 0;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

#content-wrapper {
    margin: 20px 20px 50px;
    padding: 20px 0;

	#j-main-container{
		padding: 0 0 15px 0;
	}
	
	#startEndDate{
		min-width: 250px;
	}

}


#jbd-dashbord {
    #content-wrapper{
		background: transparent;
	}

}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

/*------------nav bar ---------------*/
.menu-button{
    padding: 10px 20px;
    margin-bottom: 15px;
	cursor: pointer;
}

.user-info {
    text-align: center;
    color: $white;
    margin-bottom: 10px;
    padding-top: 10px;
}

.mini-navbar .user-info {
    display: none;
}

.user-info {
    .round-badge {
        color: #333;
        font:{
            size: 20px;
            weight: 600;
        }
        background-color: #fefefe;
        width: 90px;
        line-height: 90px;
        border-radius: 50%;
        text-align: center;
        margin: 5px auto;
    }

    .user-details {
        text-align: center;
    }

    .user-name {
        font:{
            size: 16px;
            weight: 500;
        }
    }

    .user-role {

    }
}

.navbar-static-side, .nav-header, li.active, #page-wrapper, .footer {
    transition: all 0.5s ease 0s;
}

.navbar-static-side {
    position: absolute;
    width: 220px;
    z-index: 1;
}

.navbar-minimalize {
    color: $white; cursor : pointer;
    display: inline-block;
    font-size: 14px !important;
    padding: 9px 26px;
    cursor: pointer;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.sidebar-collapse{
    padding: 0px !important;
}

.pace-done {
    .navbar-static-side,    .nav-header, li.active,
     #page-wrapper, .footer {
        transition: all 0.5s ease 0s;
    }

    .nav-header {
        transition: all 0.5s ease 0s;
    }
}


.jbd-message-container{
    align-items: center;
    background: #fff;
    padding: 0px 16px;
    text-align: center;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    height: 67vh;
    
    .message-content{
        text-align: center;
    }
    
    .message-image {
        width: 350px;
        display: inline;
    }
}


#jdb-wrapper {
	
    background: #f5f5f5;
    overflow-x: hidden;
    width: 100%;
    color: #6a6c6f;
    font-size: 13px;

	&.tmpl-style-1{
		.nav {
	        & > li {
	            display: block;
	            position: relative;
	
	            a {
	                color: #6a6c6f;
	                padding: 12px 20px 12px 25px;
	                display: block;
	                position: relative;
	                font-weight: 600;
	
	                i {
	                    margin-right: 6px;
	                }
	            }
	
	            &.active {
	                background: $white;
	                border-left: 4px solid #1ab394;
	            }
	        }
	        .nav-second-level>li.active {
	            border: medium none;
	        }
	
	        li {
	            @include borderBottom(1px,$grey);
	            width: 100%;
	        }
	    }
	
	    .nav-header {
	        background: #2f4050;
	        padding: 9px 0px;
	        text-align: right;
	        width: 100%;
	    }
	
	    .metismenu li:first-child {
	         @include marginPaddingZero;
	    }
	
	    &.mini-navbar {
	        .nav-label, .navbar-default .nav li a span {
	            display: none;
	        }
	
	        .navbar-static-side {
	            width: 70px;
	        }
	
	        #page-wrapper {
	            margin: 0 0 0 70px;
	        }
	
	        .navbar-default .nav>li {
	            & > a {
	                font-size: 16px;
	            }
	
	            & >.nav-second-level li a
	            {
	                border-radius: 3px;
	                font-size: 12px;
	            }
	        }
	
	        .nav-second-level li a {
	            padding: 10px 10px 10px 15px;
	        }
	    }
	}
	
	&.tmpl-style-2{
		
		background: transparent;
		
		ul.nav {
			border-bottom: 1px solid #d7d9db;
			margin: 0 0 20px;
			text-align: center;
			display: flex;
			justify-content: center;
			
	        & > li {
	            display: inline-block;
	            position: relative;
	
	            a {
	                color: #6a6c6f;
	                margin: 0 20px;
					padding: 10px 0;
	                display: block;
	                position: relative;
	
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
	
	                i {
	                    margin-right: 6px;
	                }
	            }
	
	            &.active {
	                border-bottom: 1px solid #1ab394;
	            }
	        }

	        .nav-second-level{
	            display: none;
	        }
	    }
		
		#page-wrapper {
			margin: 0;
			
			#content-wrapper{
				border: 1px solid #d7d9db;
				margin: 0;
			}
		}
	}
	
	.modal-batch{
		padding: 20px;
		height: auto;
		max-height: none;
	}
	
	&.jdb-wrapper-admin .nav-header {
		background: #ddd;
	}
}

#side-menu {
    @include marginPaddingZero;

    li{
        .active a, #side-menu li:hover a {
            color: #34495e;
        }

        .nav-second-level li{
            &.active a {
                background-color: #f7f9fa;
                color: #34495e;
            }

            a {
                color: #6a6c6f;
                font-weight: 600;
                padding: 7px 10px 7px 55px;
                text-transform: none;
            }
        }
    }

    .la la-menu-arrow {
        float: right;
        line-height: 1.42857;

        &::before {
            content: "\f104";
        }
    }

    .active>a>.la la-menu-arrow::before {
        content: "\f107";
    }

    .nav>li>a:hover, #side-menu.nav>li>a:focus {
        background: $white;
    }
}

.metismenu {
    .collapse.in {
        display: block;
        margin-bottom: 0;
    }

    .arrow {
        float: right;
        line-height: 1.42857;
    }
}

.nav-second-level {
    li, .nav-third-level li {
        border-bottom: medium none !important;
    }

    li a {
        padding: 7px 10px 7px 52px;
    }
}

.nav.nav-second-level.collapse[style] {
    height: auto !important;
    margin-bottom: 0px;
}

.mini-navbar {
    .nav-second-level {
        background-color: #fcfcfc;
        font-size: 12px;
        padding: 10px;
        @include position(absolute,$left:66px,$top:0);
        height: auto;
        display: none;

        li a {
            padding: 10px 10px 10px 15px;
        }
    }

    .nav li{
        &>.nav-second-level {
            display: none;
        }

        &:hover>.nav-second-level {
            border-radius: 0 2px 2px 0;
            display: block;
            height: auto;
            min-width: 140px;
        }
    }
}

/*----------- end side menu ---------------*/
#page-wrapper {
    margin: 0 0 0 220px;
    min-height: 555px;
    position: relative;
}

.gray-bg {
    background-color: #f3f3f4;
}

.normalheader {
    min-width: 220px;
}

.transition {
    transition: all 0.5s ease 0s;
}

.fadeIn {
    animation-name: fadeIn;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.normalheader {
    .hpanel {
        margin-bottom: 0;
    }

    h2 {
        font-size: 21px;
        font-weight: 500;
        margin-top: 0;
    }
}

.hpanel {
    border: medium none;
    box-shadow: none;
    margin-bottom: 25px;

    .panel-body {
        background: $white;
        @include bordered(1px, $grey);
        border-radius: 2px;
        padding: 19px 20px 15px;
        position: relative;
    }
}

.m-t-lg {
    margin-top: 30px;
}

.pull-right {
    float: right;
}

.font-light {
    font-weight: 300;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-t-lg {
    margin-top: 28px;
}

ol.breadcrumb {
    background-color: $white;
    font-size: 11px;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 2px 0;
}

.hbreadcrumb>li {
    display: inline-block;
}

ol.hbreadcrumb{
    @include marginPaddingZero;
}

.hbreadcrumb>li+li::before {
    color: #34495e;
    color: #ccc;
    content: "/ ";
    padding: 0 5px;
}

.clip-header {
    background: #f7f9fa;
    @include borderBottom(1px, $grey);
    border-left: 1px solid $grey;
    font-size: 8px;
    padding: 4px 5px;
    @include position(absolute,$right:0,$top:0);

    i {
        display: inline-block;
        transform: rotate(45deg);
    }
}

/*--------------------ibox--------------------*/
.user-option-box {
    min-width: 200px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;

    .collapsed {
        .ibox-content {
            display: none;
        }
    }

    &::after, .ibox::before {
        display: table;
    }

    .stats-title {
        background-color: $white;
        padding: 5px;
        display: block
    }

    .stats-icon i {
        font-size: 25px;
    }
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: $white;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    min-height: 25px;
    padding: 14px 15px 7px;

    h5 {
        display: inline-block;
        float: left;
        font:{
            size: 17px;
            weight: 500;
        }
        margin: 0 0 7px;
        padding: 0;
        text-overflow: ellipsis;
        white-space: no-wrap;
        overflow: hidden;
    }

    .label {
        float: left;
        margin-left: 4px;
    }
}

.ibox-content {
    background-color: $white;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
    color: inherit;
    padding: 15px 20px 20px;
    clear: both;
}

.ibox-footer {
    background: $white;
    border-top: 1px solid #e7eaec;
    color: inherit;
    font-size: 90%;
    padding: 10px 15px;
}

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: medium none;

    h3 {
        font:{
            size: 24px;
            weight: 200;
        }
    }
}

.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: right;

    a {
        color: #c4c4c4;
        cursor: pointer;
        margin-left: 5px;

        .btn-primary {
            color: $white;
        }
    }

    .dropdown-menu>li>a {
        font-size: 12px;
        padding: 4px 10px;
    }
}

.ibox .ibox-tools.open>.dropdown-menu {
    left: auto;
    right: 0;
}

.ibox-content {
    #update-status {
        line-height: 28px;
        height: 43px;
    }

    .loading {
        height: 35px;
        text-align: center;
    }
}

/*--------------------end ibox--------------------*/
.total-statistics {
    margin-bottom: 70px;

	h3{
		font-size: 24px;
	}
	
}

.stat-list {
    list-style: outside none none;
    @include marginPaddingZero;

    h2 {
        font:{
            weight: 300;
            size: 25px;
        }
        margin: 0 0 5px 0;
    }

    li{
        margin-top: 31px;
        position: relative;

        &:first-child {
            margin-top: 0;
        }
    }
}

.stat-percent {
    float: right;
}

.dir-progress-bar {
    background-color: #1ab394;
}

.dir-progress {
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-small, .progress-small .dir-progress-bar {
    height: 10px;
}

.progress-small, .progress-mini {
    margin-top: 5px;
}

.progress-mini, .progress-mini .dir-progress-bar {
    height: 5px;
    margin-bottom: 0;
}

/*------------- labels & batches ------------*/
.dir-label {
    background-color: #d1dade;
    border-radius: 0.25em;
    color: #5e5e5e;
    font:{
        size: 10px;
        weight: 600;
    }
    padding: 3px 8px;
    text-shadow: none;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    line-height: 1;
}

.badge {
    background-color: #d1dade;
    color: #5e5e5e;
    font:{
        size: 11px;
        weight: 600;
    }
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}

.dir-label-primary, .badge-primary {
    background-color: #1ab394;
    color: $white;
}

.dir-label-success, .badge-success {
    background-color: #1c84c6;
    color: $white;
}

.dir-label-warning, .badge-warning {
    background-color: #f8ac59;
    color: $white;
}

.dir-label-warning-light, .badge-warning-light {
    background-color: #f8ac59;
    color: $white;
}

.dir-label-danger, .badge-danger {
    background-color: #ed5565;
    color: $white;
}

.dir-label-info, .badge-info {
    background-color: #23c6c8;
    color: $white;
}

.dir-label-inverse, .badge-inverse {
    background-color: #262626;
    color: $white;
}

.dir-label-white, .badge-white {
    background-color: $white;
    color: #5e5e5e;
}

.dir-label-white, .badge-disable {
    background-color: #2a2e36;
    color: #8b91a0;
}

i.la {
    la-bg-blue {
        background: #3498db;
    }
    la-bg-red {
        background: #e74c3c;
    }
    la-bg-sea {
        background: #1abc9c;
    }
    la-bg-green {
        background: #2ecc71;
    }
    la-bg-yellow {
        background: #f1c40f;
    }
    la-bg-orange {
        background: #e67e22;
    }
    la-bg-grey {
        background: #95a5a6;
    }
    la-bg-dark {
        background: #555;
    }
    la-bg-darker {
        background: #333;
    }
    la-bg-purple {
        background: #9b6bcc;
    }
    la-bg-aqua {
        background: #27d7e7;
    }
    la-bg-brown {
        background: #9c8061;
    }
    la-bg-dark-blue {
        background: #4765a0;
    }
    la-bg-light-green {
        background: #79d5b3;
    }
    la-bg-light {
        background: $white;
        border-color: transparent;
    }
    la-bg-light-grey {
        background: #585f69;
        border-color: transparent;
    }
    la-sm {
        font-size: 16px;
        height: 35px;
        line-height: 35px;
        width: 35px;
    }
    la-custom {
        display: inline-block;
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 5px;
        text-align: center;
        width: 40px;
        color: $white;
    }
}

.rounded-x {
    border-radius: 50% !important;
}

/*---------- latest news -----------------*/
.feed-activity-list .feed-element {
    @include borderBottom(1px, #e7eaec);
}

.feed-element {
    padding-bottom: 7px;
    display: block;
    width: 100%;

    &:first-child {
        margin-top: 0;
    }

    & >.pull-left {
        margin-right: 10px;
    }
    img.img-circle, .dropdown-messages-box img.img-circle {
        height: 38px;
        width: 38px;
    }
    .actions {
        margin-top: 10px;
    }
    .photos {
        margin: 10px 0;
    }
}

.feed-element, .feed-element .media {
    margin-top: 7px;
}

.feed-activity-list .feed-element {
    margin-top: 15px;
    padding-bottom: 15px;
}

.feed-element, .media-body {
    overflow: hidden;
}

.feed-photo {
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-height: 180px;
    overflow: hidden;
}
/*--------------end latest news--------------*/

/*--------- text color ----------*/
.text-navy {
    color: #1ab394;
}

.text-primary {
    color: inherit;
}

.text-success {
    color: #1c84c6;
}

.text-info {
    color: #23c6c8;
}

.text-warning {
    color: #f8ac59;
}

.text-danger {
    color: #ed5565;
}
/*--------- end text color ----------*/

/*-------------- chart ----------------*/
.remove-margin {
    margin: 0 !important;
}

#dir-dashboard-calendar-form {
    .detail_box {
        input[type="text"] {
            width: 100%;
            height: auto;
        }

        #start_date,
        #end_date {
            max-width: 75px;
        }
    }
    ul {
        list-style-type: none;
        padding: 10px 10px 0;
        margin: 0;

        li {
            border: 0;
            display: inline-block;
            cursor: pointer;
            padding: 10px 0;
            background: transparent;
            @include borderBottom(4px, #ffffff);
            
            &:hover {
                @include borderBottom(4px, #CFCFCF);
            }

            &.ui-state-active, &.active {
                @include borderBottom(4px, #2ABB9C);
            }

            &.ui-state-active {
                border: none;                
            }

            a {
                padding: 10px 20px;
                text-decoration: none;
                color: #555;

                &:focus {
                    color: #555;
                }
            }
        }
    }

    .item-calendar {
        text-align: center;
        background-color: #E2E2E2;
        padding: 10px;

        input {
            margin: 0;
            display: inline-block;
        }
    }
    .field-calendar {
        display: inline-block;
    }

     #start_date,
     #end_date {
        max-width: 110px;
    }
}

.user-manual-section {
    padding: 10px;
    padding-left: 25px;
    background-color: #828587;
    color: white;
}

@media ( min-width: 992px) and (max-width: 1199px) {
    #dir-dashboard-calendar-form {
        #dir-dashboard-tabs-col {
            width: 100%;
        }

        .item-calendar {
            text-align: left;
        }
    }
}

@media ( min-width : 576px) {
    #menu-button{
        display:none;
        }
}

@media ( max-width : 576px) {
    .navbar-static-side {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    
     .navbar-static-side.closed{
        display:none;
    }
    
        #page-wrapper{
        margin: 0;
    }
}

@media ( max-width : 991px) {
    #dir-dashboard-calendar-form {
        .item-calendar {
            text-align: left;
        }
        ul {
            padding: 10px;

            li {
                display: block;
                border: none;
                padding: 0px;

                a {
                    display: block;
                    text-align: center;
                }
            }
        }

        .detail_box{
            .input-append {

            }

            #start_date,
            #end_date {
                width: 70%;
                max-width: none;
            }
        }

        .field-calendar {
            float: left;
        }

        #dir-dashboard-tabs-col {
            width: 100%;
        }
    }
}

@media ( max-width : 499px) {
    #dir-dashboard-calendar-form .item-calendar {
        padding-left: 3%;
    }
}

@media ( max-width : 320px) {
    #dir-dashboard-calendar-form .item-calendar {
        padding-left: 0;
    }
}


@media (max-width: 769px) {

    body{
        padding: 0 !important;
    }



    .user-manual-section {
        display: none;
    }
}

/*-------------- Chosen ----------------*/
.chzn-container-single .chzn-single, .chzn-container-multi .chzn-choices {
    color: #555;
    font-size: 13px;
    height: 28px;
    line-height: 18px;
    @include bordered(1px, #ccc);
    border-radius: 3px;
    padding: 4px 6px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

/*--------- end Chosen ----------*/

.item-image img {
    width: 60px;
    height: 60px;
    @include bordered(1px, #dfdfdf);
}

.marker-preview{
    max-height: 50px;
    max-width: 50px;
}

/*-------------- Buttons ----------------*/
.jbd-container.jdb-wrapper-front {
	h5{
		font-size: 14px;
		font-weight: 500;
	}

    #content-wrapper{
        background: #ffffff;
        margin: 20px 1px 50px 20px;
        padding: 20px;
        
        .dir-table{
		    .btn-primary {
		        background-color: #343a40  !important;
		        border-color: #343a40  !important;
		        color: #fff !important;
		    }
		
		    .btn-success {
		        background-color: #28a745 !important;
		        border-color: #28a745 !important;
		    }
		
		    .btn-danger {
		        background-color: #E74C3C  !important;
		        border-color: #E74C3C  !important;
		    }
		
		    .btn-warning {
		        background-color: #f0ad4e  !important;
		        border-color: #eea236  !important;
		        color: #fff !important;
		    }
		    
		    .btn-info{
		     	color: #fff !important;
		    }
		}
    }

    .btn-xs {
        border-radius: 2px;
        font-size: 12px;
        line-height: 1.5;
        padding: 1px 5px;
        color: $white;
    }
	
    
    h5{
    	font-size: 14px;
    }
}

.jbd-buttons-row {
    display: block;
    margin-top: 5px;
}

/*--------- end Buttons ----------*/
@media ( max-width : 1120px) {
    #jdb-wrapper    .row-fluid {

        .general-settings {
            display: block;
            float: none;
            width: 100%;
            margin-left: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

        [class*="offset"]:first-child {
            margin-left: 0;
        }
    }
}

/**-------------- Wordpress section --------------**/
@import "partials/_wp_template";
/**--------------End Wordpress section--------------**/