$grey:#ccc;

@mixin marginPaddingZero{
    margin: 0;
    padding: 0;
}

dl.tabs{
    margin: 10px 0 -1px 0;
    z-index: 50;

    dt h3{
     @include marginPaddingZero;
        font:{
            size: 1em;
            weight: normal;
        }
        line-height: 25px;

        a:link {
            color:#333333;
            outline:medium none;
            text-decoration:none;
        }
    }

    dt{
        float: left;
        padding: 4px 5px;
        border: 1px solid $grey;
        margin-left: 3px;
        background: #e9e9e9;
        color: #666;

        &.open{
            background: #F9F9F9;
            border-bottom: 1px solid #f9f9f9;
            z-index: 100;
            color: #000;
        }
    }
}

div.current {
    clear: both;
    border: 1px solid $grey;
    padding: 10px 10px;

    dd {
        @include marginPaddingZero;
    }
}

dl#content-pane.tabs {
    margin: 1px 0 0 0;
}
