.jbd-conatiner{
	.statistics-dashboard {
	
	    .chzn-container{
	        width: 100% !important;
	    }
	
	    .la{
	        font-size: 18px !important;
	    }
	
	    .inputbox{
	        height: 36px;
	        margin-bottom: auto;
	        width: 100%;
	    }
	
	    #dir-dashboard-tabs-col{
	        display: flex;
	    }
	
	    .calendar-date{
	        width: 100%;
	        max-width: unset !important;
	    }
	
	    .has-jicon-left{
	        width: 100%;
	    }
	}
}