$jbd-Grey:#ccc;
$jbd-LightGrey:#e8e8e8;
$jbd-DarkGrey:#888;
$jbd-DarkerGrey:#999;
$jbd-LightDark:#333333;
$jbd-White:#FFFFFF;
$jbd-DarkWhite:#EBEBEB;
$jbd-LightWhite:#FCFCFC;
$jbd-BorderGrey:#DFDFDF;
$jbd-Green:#79A70A;
$jbd-DarkRed:#8F0808;
$jbd-Red:#B04343;
$marginRight: 7px;
$noMarginBottom: 0px !important;
$jbd-GreenBlue:#23B26B;

.jbd-container{
    .jbd-green{
        color: $jbd-GreenBlue !important;
    }
}