.adminform.metadata ul{
	list-style-type: none;
}

.category-box{
	margin:5px 10px;
	padding: 4px;
	display:block;
	background-color:#fff;
	border: 1px solid #CBCBC5;
	cursor: pointer;
}

.category-options{
	float:right;
	display: block;
	background-color:#EDEDED;
	z-index:10;
	margin:0 0 5px 5px;
}

.category-options img{
	margin: 0 3px;
	vertical-align: middle;
}

.proceed_row {
    border-top: 1px solid #E0E0E0;
    float: left;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}

.proceed_row {
    float: left;
    padding: 10px 0;
}

.custom-file{
	padding-bottom: 15px;
}

#toolbar-options span{
	background: none;
}
button span, a.button span, a.button:link span, a.button:visited span {
    display: block;
}

button span span, a.button span span, a.button:link span span, a.button:visited span span {
    background: url("../images/button_new.gif") repeat scroll left 0 #FFFFFF;
    height: 36px;
    line-height: 34px;
    padding: 0 0 0 13px;
}

.loader_block {
    background: url("../images/loader_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 87px;
    width: 130px;
}

.loader_block .loader_block_inner {
    height: 31px;
    margin: 10px auto;
    width: 31px;
}

.loader_block .loader_text {
    color: #000000;
    font-size: 11px;
    line-height: 16px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

table.admintable td.key, table.admintable td.paramlist_key {
    background-color: #F6F6F6;
    border-bottom: 1px solid #E9E9E9;
    border-right: 1px solid #E9E9E9;
    color: #666666;
    font-weight: bold;
    text-align: right;
    width: 140px;
	padding: 3px;
}

.claim-details-wrapper {
}

.claim-details {
}

.claim-details th{
	text-align: left;
	padding: 4px 10px 4px 0;
}

.claim-details td{
	padding: 4px 4px 4px 0;
	text-align: left;
}

fieldset.boxed .claim-details p{
	margin: 15px 0 5px 0; 
}

#features{
	width: 500px;
}

.left{
	float: left;
}

.right{
	float: right;
}

#subcategories{
	margin-right: 10px;
}

.app-option input{
	float:none;
}

.admintable input[type="radio"]{
	display: inline;
	float: none;
}


/*----------control panel ----------------*/

.business-cpanel{
	width: 65%;
}

#business-cpanel ul{
	list-style-type: none;
}

li.option-button {
	width: 130px;
	float: left;
	margin: 10px;
}

li.option-button a{
	height: 89px;
	text-align: center;
}

li.option-button a:hover{
	text-decoration: none;

}

li.option-button h3 {
	font: normal 13px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 15px 0 5px;
}

li.option-button p {
	font: 14px/20px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0 5px;
}

li.option-button span {
	color: #222222;
	font: 14px/20px Arial, Helvetica, sans-serif;
	margin: 0;
}

li.option-button a img{
	height: auto;

}

li.option-button a.search img{
	height: 45px;

}


.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCCCF;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #FFFFFF inset;
    padding: 15px;
}

.box-inset {
    color: #444444;
    display: block;
    background: none repeat scroll 0 0 #F0F1F2;
    border-color: #CFD0D1;
    box-shadow: 0 1px 0 #FFFFFF, 0 2px 3px rgba(0, 0, 0, 0.06) inset, 0 0 2px rgba(0, 0, 0, 0.04) inset;
    text-shadow: 0 1px 0 #FFFFFF;
}

.box-inset:hover {
    background: radial-gradient(at 50% 30% , #FFFFFF 0%, #FAFBFC 50%, #EBECED 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom-color: #DDDDDD;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7) inset, 0 0 4px rgba(0, 0, 0, 0.05) inset;
    color: #111111;
}

.informations{
	width: 30%;
}

#informations .ui-accordion-header {
    background: linear-gradient(to bottom, #FAFAFA 0%, #F5F5F5 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 10px;
    padding: 7px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size: 15px;
    line-height: 22px;
}

#informations .postWrapper{
	margin-bottom: 25px;	
}

#informations i{
	font-size: 11px;
}

#informations ul.social {
    margin: 5px 0 0;
    list-style-type: none;
}
#informations ul.social li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 0;
}
#informations ul.social li a {
    background: url("../images/social_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 100%;
    display: block;
    height: 36px;
    overflow: hidden;
    position: relative;
    text-indent: -999px;
    width: 36px;
}
#informations ul.social li a.twitter {
    background-color: #53B1F0;
}
#informations ul.social li a.facebook {
    background-color: #3D5FA6;
    background-position: -36px 0;
}
#informations ul.social li a.email {
    background-color: #525252;
    background-position: -72px 0;
}
#informations ul.social li a.google {
    background-color: #FAC200;
    background-position: -108px 0;
}
#informations ul.social li a:hover {
    background-color: #97D2C9;
}

#informations .social h4 {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.1px;
    margin: 0;
    padding: 12px 12px  0px;
    text-transform: uppercase;   
} 

table.report{
	 border: 1px solid #555;
}

table.report tr{
	vertical-align: top; 
}

table.report th{
	background: #FCFCFC;
	background: -moz-linear-gradient(center top , #FCFCFC 0%, #EBEBEB 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#EBEBEB) );
	background: -webkit-linear-gradient(top, #FCFCFC, #EBEBEB);
	background: linear-gradient(top, #FCFCFC, #EBEBEB);
    border: 1px solid #B7B7B7;
    padding: 7px 10px;
}

table.report td{
	border: 1px solid #B7B7B7;
    padding: 7px 10px;
}


.package-info{
	border: 1px solid #AAA;
	background-color: #FFFFFF;
	padding: 5px;
}

.package-status{
	margin-bottom: 10px;
}


#week_days li{
	float: left;
	margin-right: 5px;
}

.chosen-container .chosen-results { 
    clear: both; 
}

.chzn-container-single .chzn-search{
	padding: 0!important;
}

#location-dialog .dialogContent {
   width: 700px; 
   max-width: 100%;
}
/*------ backend toolbar ---------*/

.subhead-collapse.collapse {
    height: auto !important;
}

/*------ end backend toolbar ---------*/

/*------ cursor pointer --------*/
.cursor-pointer {
    cursor: pointer;
}

#sp-main-body {
    background-color:#f0f3f6;
    padding:0;
}

/*---------- btn status ------------*/
.status-btn {
    width: 100% !important;
    max-width: 150px;
    min-height: 20px;
    background: #f1f1f1;
    color: #666;
    display: block;
    text-align: left;
    font-size: 11px;
    line-height: 20px;
    font-style: italic;
    text-transform: uppercase;
    padding: 0 20px 0 5px;
    text-align: center;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.status-btn:after {
    content: '';
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #e2e2e2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.status-btn.status-btn-warning:after {
    background: #f0ad4e;
}

.status-btn.status-btn-warning.warn:after {
    background: #f0934e;
}


.status-btn.status-btn-success:after {
    background: #5cb85c;
}

.status-btn.status-btn-danger:after {
    background: #d9534f;
}


.status-btn-holder {
    max-width: 150px;
}

/*legend backend*/
#legend_offers .dl-horizontal dt, #legend_events .dl-horizontal dt{
    margin-bottom: 10px;

}

#legend_offers .dl-horizontal dd, #legend_events .dl-horizontal dd{
    margin-bottom: 20px;
    text-align: left;
}

#legend_offers .dl-horizontal, #legend_events .dl-horizontal{
    margin-bottom: 0px;
}

.dir-notice{
	background-color: #F0F0F0;
	margin-top: 5px;
	padding: 10px;
}

.attr-img {
    cursor:pointer;
}

#jdb-wrapper .modal-batch{
	padding: 20px;
	height: auto;
	max-height: none;
}

.status {
    font-size: 12px;
    padding: 10px 50px 10px 40px;
    text-align: center;
    color:white;
}

.status.open {
    background-color: #60cf81 !important;
}

.status.failure {
    background-color: #f38269 !important;
}


/***** Custom Attributes *****/
.attribute_option {
    width:60% !important;
}

.attribute_icon_container {
    display:inline;
    margin-left:5px;
    margin-right:5px;
}
.attribute_icon {
    width:20% !important;
}

#jdb-wrapper .nav-header {
	background: #ddd;
}

.navbar-minimalize{
	color: #777;
}

.js-stools-field-filter{
	margin-bottom: 9px;
}

.js-stools-field-filter select{
	margin-bottom: 0;
}

.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.invisible {
	visibility: hidden;
}

