.remove-padding {
  padding: 0;
}

.module.latestbusiness-box {
  background: none repeat scroll 0 0 #FFF;
  border: 1px solid #CBCCCF;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #FFF inset;
  padding: 10px;
}

.module.latestbusiness-box {
  background: none repeat scroll 0 0 #E0E2E4;
  border-color: #CFD0D1;
  box-shadow: 0 1px 0 #FFF, 0 2px 3px rgba(0, 0, 0, 0.06) inset, 0 0 2px rgba(0, 0, 0, 0.04) inset;
  color: #444444;
  display: block;
  text-shadow: 0 1px 0 #FFF;
}

.item-box {
  background-color: #FBFBFB;
  margin-bottom: 25px;
  text-align: center;
  float: left;
  margin-left: 15px;
  margin-bottom: 25px;
}
.item-box .item-info {
  background: #fbfbfb;
}
.item-box p {
  margin: 0;
}
.item-box a.item-name {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
  float: none;
}
.item-box .item-options {
  background-color: #E7E7E7;
  padding: 10px;
}

.slider-item {
  background-color: #FFF;
  overflow: hidden;
  border-radius: 0 !important;
}

.slider-item-name {
  padding: 10px;
}
.slider-item-name img {
  display: inline-block !important;
  width: auto !important;
}
.slider-item-name h3 {
  color: #454545;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.mod-items-list .list-item{
	background-color: #fff;
	
}
.mod-items-list .price{
	font-size: 16px;
}

.mod-items-list .item-name{
	font-size: 16px;
}

.mod-items-list .listing-name{
	font-size: 15px;
}

.mod-items-list .btn{
	text-transform: none !important;
	border-radius: 25px;
}

.mod-items-list .jitem-img-wrap{
	height: 100%;
}

.mod-items-list .jitem-img-wrap > a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	cursor: pointer;
}

.mod-items-list .jitem-img-wrap > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}